#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define COLEMAK 0
#define QWERTY 1
#define WASD 2
#define SYM 3
#define NAV 4
#define ADJUST 5

// tapdance timing
#define TAPTERM 100

/ {

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            label = "QWERTY";
            bindings = <
        &trans   &kp Q   &kp W   &kp E   &kp R   &kp T                     &kp Y   &kp U  &kp I  &kp O   &kp P  &trans
        &trans   &kp A   &kp S   &kp D   &kp F   &kp G                     &kp H   &kp J  &kp K  &kp L  &kp SEMI  &trans  
        &trans   &kp Z   &kp X   &kp C   &kp V   &kp B                     &kp N   &kp M  &kp COMMA  &kp DOT  &trans  &trans
                 &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };

    };
};
