#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/studio.h>

#define QWERTY 0
#define NUM 1
#define FUNC 2
#define DIR 3

// Symbol bindings for a macOS Swedish OS keyboard layout.
// ZMK emits US HID positions; macOS (set to Swedish) reinterprets them.
// å ä ö are produced directly on the base layer by the [ ; ' positions.
#define SWE_AT    RA(N2)        // @  = Option+2
#define SWE_DLLR  RA(N4)        // $  = Option+4
#define SWE_PIPE  RA(N7)        // |  = Option+7
#define SWE_BSLH  RA(LS(N7))    // \  = Shift+Option+7   (verify on device)
#define SWE_LBKT  RA(N8)        // [  = Option+8
#define SWE_RBKT  RA(N9)        // ]  = Option+9
#define SWE_LBRC  RA(LS(N8))    // {  = Shift+Option+8
#define SWE_RBRC  RA(LS(N9))    // }  = Shift+Option+9

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            //label = "QWERTY";

            bindings = <
&kp TAB     &kp Q  &kp W      &kp E     &kp R  &kp T                                                                            &kp Y  &kp U   &kp I      &kp O    &kp P          &kp LEFT_BRACKET
&kp ESCAPE  &kp A  &kp S      &kp D     &kp F  &kp G                                                                            &kp H  &kp J   &kp K      &kp L    &kp SEMICOLON  &kp SINGLE_QUOTE
&mo 3       &kp Z  &kp X      &kp C     &kp V  &kp B                                                                            &kp N  &kp M   &kp COMMA  &kp DOT  &kp SLASH      &kp LS(LG(M))
                   &kp LCTRL  &kp LALT         &kp LEFT_COMMAND  &kp LEFT_SHIFT  &lt 1 SPACE  &kp ENTER  &kp BACKSPACE  &trans         &trans  &mo 2
            >;

            sensor-bindings =
                <&inc_dec_kp LS(LA(C_VOL_DN)) LS(LA(C_VOL_UP))>,
                <&inc_dec_kp PG_DN PG_UP>;
        };

        num_layer {
            //label = "QWERTY";

            bindings = <
&kp NON_US_BSLH       &kp LS(NON_US_BSLH)  &kp LS(N1)     &kp SWE_AT     &kp LS(N3)     &kp SWE_DLLR                                            &kp NUMBER_7  &kp N8        &kp NUMBER_9  &kp NUMBER_0     &kp SWE_LBKT          &kp SWE_RBKT
&kp SWE_PIPE          &kp LS(N0)           &kp LS(N7)     &kp SWE_BSLH   &kp LS(MINUS)  &kp LS(N5)                                              &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp SWE_LBRC     &kp LS(N8)            &kp LS(N9)
&kp NON_US_BACKSLASH  &kp LC(LG(Q))        &kp LS(N6)     &kp CARET      &kp NON_US_HASH &kp TILDE                                              &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SWE_RBRC     &kp BACKSLASH         &kp LS(N2)
                                        &trans         &trans                          &trans       &kp SPACE  &trans  &trans  &trans  &trans                &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };

        func_layer {
            bindings = <
&kp LC(LS(LG(NUMBER_3)))  &kp LS(LC(LG(NUMBER_4)))  &bt BT_CLR  &bt BT_PRV  &bt BT_NXT  &out OUT_BLE                                          &kp F7  &kp F8  &kp F9  &kp PIPE  &studio_unlock  &kp HOME
&kp LS(LG(NUMBER_3))      &kp LS(LG(NUMBER_4))      &trans      &trans      &trans      &out OUT_USB                                          &kp F4  &kp F5  &kp F6  &trans    &kp UP_ARROW    &kp RIGHT
&trans                    &trans                    &trans      &trans      &trans      &out OUT_TOG                                          &kp F1  &kp F2  &kp F3  &kp LEFT  &kp DOWN_ARROW  &kp END
                                                    &trans      &trans                  &trans        &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;
        };

        directional {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                          &kp HOME  &kp UP_ARROW  &kp END    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                          &kp LEFT  &kp DOWN      &kp RIGHT  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                          &trans    &trans        &trans     &trans  &trans  &trans
                &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans            &trans        &trans
            >;
        };
    };
};
